<span class="page-title-dynamic d-none">{{pageTitle}}</span> <!-- Remove line when refactored into production code -->
<div class="posts-wrapper">
    {{#each posts}}
    <div class="post-wrapper" data-postid="{{id}}" data-userid="{{user_id}}">
        <header class="post-header">
            <a href="javascript:void(0);" onclick="let postid = this.closest('.post-wrapper').dataset.postid; window.location.href=`posts/${postid};`">{{title}}</a>
            <aside>
                Posted by {{username}} on {{date createdAt}}
            </aside>
        </header>
        <div class="post-body">
            {{content}}
        </div> <!-- post-body -->
    </div> <!-- post-wrapper -->
    {{/each}}
</div> <!-- posts-wrapper -->