<div class="posts-wrapper">
    <div class="post-wrapper" data-postid="{{id}}" data-userid="{{userId}}">
        <header class="post-header">
            <span>{{title}}</span>
            <aside>
                Posted by {{username}} on {{date createdAt}}
            </aside>
        </header>
        <div class="post-body">
            {{content}}
        </div> <!-- post-body -->
        <div class="comments-wrapper">
                {{#each comments}}
                    <div class="comment-wrapper" data-userid="{{userId}}" data-commentid="{{commentId}}">
                        <div class="comment-header">&nbsp;</div>
                        <div class="comment__body__footer">
                            <div>{{content}}</div>
                            <footer class="comment-footer">
                                — {{username}}, {{date createdAt}}
                            </footer>
                        </div>
                    </div>
                {{/each}}
                {{#if canComment}}
                <div class="comment-add-wrapper">
                    <div class="comment-header">&nbsp;</div>
                    <form class="form-add-comment">
                        <div class="comment-add-body">
                            <div class="input-group">
                                <label for="add-comment-input">Comment:</label>
                                <textarea id="add-comment-input" class="editing"></textarea>
                            </div>
    
                            <button class="add-comment standout" type="submit" data-route="/app/community-blogs/posts/:postId/comments, POST: postId, content[add-comment-input], sessionUserId ">Submit</button>
                        </div>
                    </form>
                </div>
                {{else}}
                <div class="comment-sign-in pt-3">Want to add your comment? <a onclick="login()" href="javascript:void(0)">Log in</a></div>
                {{/if}}

        </div> <!-- comments-wrapper -->
    </div> <!-- post-wrapper -->
</div> <!-- posts-wrapper -->


<script>
// Login to submit comment if user not logged in
function loginWithCallback() {
    document.location.href = "/login?callback=" + document.location.pathname;
}
function login() {
    document.location.href = "/app/community-blogs/login";
}

// Submit comment
$(".form-add-comment").on("submit", (event)=>{
    // Prevent submit's default behavior of going to another webpage
    event.preventDefault();

    // Accumulate data to send to server for updating post
    const otherDataAttributes = document.querySelector("#add-comment-input").closest(".post-wrapper").dataset;
    const { postid } = otherDataAttributes;
    const content = document.querySelector("#add-comment-input").value;
    let data = {
        postId: postid,
        content
    }
    debugger;

    // Easier to just refresh the page to show new comment due to limited time available for developing. 
    // Future todo could be to make it render dynamically once user submits the comment.
    // const refreshUrl = document.location.pathname;

    $.post(`/app/community-blogs/api/posts/${postid}/comments`, data).always(data=> {
        if(data.success) {
            window.location.reload();
        } else {
            alert(data.error);
        }
    }); // post
}); // onsubmit

// Grow textarea as you type
$(()=>{
    autoresizeTextarea();
});
</script>